* {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.top-container {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 82%;
  grid-template-rows: auto;
}

.left-grid {
  grid-column: 1 / 2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.right-grid {
  text-align: center;
  grid-column: 2 / 3;
  min-height: 100vh;
  color: rgb(0, 0, 0);
}