* {
  font-family: 'Courier', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(207, 207, 207);
}

@media screen and (max-width: 1500px) {

  .grid-item-chart {
    display: none;
    width: 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr !important; 
    grid-template-rows: auto;
    flex: 1;
    background-color: #242726;
  }
}

@media screen and (max-width: 1076px) {

  .grid-item-scramble {
    display: none; 
    width: 0%;
  }

  .grid-item-chart {
    display: none;
    width: 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr !important; 
    grid-template-rows: auto;
    flex: 1;
    background-color: #242726;
  }
}

body {
  background-color: #242726;
}

.line-chart-container {
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}

#table-font {
  font-size: 18px;
}

.grid-item-chart {
  padding-top: 5%;
}

#index-text {
  font-size: 16px;
  color: rgb(145, 145, 145);
  padding-right: 15px;
}

.header {
  background-color: #242726;
  color: rgb(207, 207, 207);
  padding-bottom: 30px;
}

.top-container {
  text-align: center;
  background-color: #2e3233;
  max-height: 100vh;
}

.stats-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.pb-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pb-titles {
  font-size: 20px;
  color: #666666;
  font-weight: 600;
  padding-right: 2%;
}

.pb-text {
  font-size: 18px;
  font-weight: 600;
  color: #c5c5c5;
}

.body-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex: 1;
  background-color: #242726;
}

.table-buttons {
  width:50%;
}

.timer-container {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #2e3233;
}

.chart-container {
  height: 90%;
  Width: 90%;
}

.table-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}

.solve-stats {
  padding: 10px;
  width: 90%;
  text-align: center;
  background-color: #242726;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll-table {
  background-color: #242726;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  width: 100%;
}

.scroll-table::-webkit-scrollbar {
  width: 8px;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: 2px solid #eee;
}

.scroll-table::-webkit-scrollbar-thumb::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}

.scroll-table::-webkit-scrollbar-thumb:hover::before {
  background-color: #666;
}

#clock {
  font-size: 100px;
}

.header {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  padding-top: 20px;
}

#scramble {
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
}

.grid-item-scramble {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20%;

  background-color: #242726;
}

#scramble-buttons {
  margin-top: 5px;
  color: rgb(207, 207, 207);
  background-color: #505050;
  border: 0px solid #eee;
  margin: 5px;
}

.buffer-div {
  margin: 12%;
}