*{
  font-family: 'Courier', sans-serif;
  font-weight: 600;
  color: rgb(207, 207, 207);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.top-container {
  text-align: center;
  background-color: #242728;
  max-height: 100vh;
  height: 100vh;
}

@media screen and (max-width: 1400px) {

  .pb-titles {
    font-size: 1vw;
  }

  .pb-text {
    font-size: 1.2vw;
    font-weight: 600;
    color: #c5c5c5;
  }
}

@media screen and (min-width: 1401px) {
  .pb-titles {
    font-size: 18px;
  }

  .pb-text {
    font-size: 18px;
    font-weight: 600;
    color: #c5c5c5;
  }
}

@media screen and (max-width: 1080px) {

  .grid-item-scramble {
    display: none;
    width: 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto;
    flex: 1;
  }

  .pb-titles {
    font-size: 14px;
  }

  .pb-text {
    font-size: 14px;
    font-weight: 600;
    color: #c5c5c5;
  }
}

@media screen and (max-width: 800px) {

  .grid-item-scramble {
    display: none;
    width: 0%;
  }

  .grid-item-chart {
    display: none;
    width: 0%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    flex: 1;
  }
}

#table-font {
  font-size: 18px;
}

.chart {
  height: 80%;
  width: 80%;
}

.grid-item-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #222222;
  border-radius: 5%;

}

#index-text {
  font-size: 16px;
  color: rgb(145, 145, 145);
  padding-right: 15px;
}

.table-container {
  height: 90%;
  width: 100%;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}


.pb-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 4vh;
  background-color: #505050 !important;
}

.pb-titles {
  color: #171717;
  font-weight: 600;
  padding-right: 2%;
}

.pb-text {
  font-weight: 600;
  color: #c5c5c5;
}

.push-bottom {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: auto;
  flex: 1;
  max-height: 50vh;
  gap: 1em;
} 

.table-buttons {
  width: 100%;
}

.timer-container {
  background-color: #242728;
  max-height: 25vh;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
  height: 100%;
}

.chart-container {
  height: auto;
  Width: 90%;
}

.table-container {
  display: flex;
  flex-direction: row;
}

.grid-item-table {
  border-radius: 5%;
  background-color: #222222;
  height: 100%;
}

.solve-stats {
  padding: 1vh;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.scroll-table {
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  width: 100%;
}

.scroll-table::-webkit-scrollbar {
  width: 8px;
}

.scroll-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: 2px solid #eee;
}

.scroll-table::-webkit-scrollbar-thumb::before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}

.scroll-table::-webkit-scrollbar-thumb:hover::before {
  background-color: #666;
}

#clock {
  font-size: min(6vw, 6vh);
  text-align: center;
}

.header {
  text-align: center;
  font-weight: 600;
  max-height: 25vh;
  height: 25vh;
  background-color: #242728;
  color: rgb(207, 207, 207);
}

#scramble {
  font-weight: 600;
}

#scramble-buttons {
  color: rgb(207, 207, 207);
  background-color: #505050;
  border: 0px solid #eee;
  height: 3vh;
  font-size: 1.5vh;
  margin-top: 20px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.buffer-div {
  margin: 12%;
}

scramble-display {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222222;
  border-radius: 5%;

}